{% extends "layout.html" %} 
{% block content %}

<!--─────────────────Home────────────────-->
	  <div id="home">
		 <div class="filter"></div>
		 <section class="intro">
		  <h3>Using Machine Learning to Predict the Probability of Heart Disease.<hr></h3>
		  <p>Four accurate Machine Learning Models that given certain inputs can accurately predict whether one will receive Heart Disease .</p>
		  <p></p>
          <p></p>
			  
		  <!--────social media links─────-->
			 
		  <div class="social-media">
			  <a href="#" target="_blank"><i class='fab fa-codepen'></i></a>
			  <a href="#" target="_blank"><i class='fab fa-twitter'></i></a>
			  <a href="#" target="_blank"><i class='fab fa-github'></i></a>
			  <a href="#" target="_blank"><i class='fab fa-linkedin-in'></i></a>
			  <a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
		    </div>
			 
		 </section> 
	  </div>
    
{% endblock content %}